<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error  %>
      <br>
    <% end %>
  <% end %>

<p>Signup</p>
  <form action="/user/create" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="user[first_name]" placeholder="First Name">
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="user[last_name]" placeholder="Last Name">
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]" placeholder="Email">
    <label for="birthdate">Birthdate:</label>
    <input type="date" id="birthdate" name="user[birthdate]" placeholder="Birthdate">
    <label for="password">Password:</label>
    <input type="text" id="password" name="user[password]" placeholder="Password">
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="text" id="password_confirmation" name="user[password_confirmation]" placeholder="Password Confirmation">
    <input type="submit" value="submit">
  </form>

<p>Login</p>    
  <form action="/user/login" method="POST">
  <label for="email">Email:</label>
  <input type="text" id="email" name="user[email]" placeholder="Email">
  <label for="password">Password:</label>
  <input type="text" id="password" name="user[password]" placeholder="Password">
  <input type="submit" value="submit">
  </form>
</div>

